<!DOCTYPE html>
<html lang="en">
  <head>
   {{>head}}
  </head>
  <body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fulid main_header">
      <div class="row">
        <div class="col-md-10 mx-auto col-12">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img
                  src="./images/about.png"
                  alt="Rohit"
                  class="image-fluid"
                  title="RohiKadiyan"
                />
              </figure>
            </div>

            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome To Weather App Thanku !</p>
              <h1>
                I am A <span>MERN Stack Developer</span>,Youtuber And Freelancer
              </h1>
              <a href="#"><button>About Me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main header End -->
    <!-- footer -->
  {{>footer}}
    <!-- footer -End -->
  </body>
</html>
